@font-face{
	font-family: "IBM Plex Sans";
		src:url(IBMPlexSans-SemiBold.ttf);
		font-style: normal;
}

body{
	font-family: "IBM Plex Sans";
	font-size: 14px;
	color: #0063be;
}
h2{
	text-align: center;
	margin-bottom: 30px;
}
.console{
	padding-left:10px;
	position: relative;
	width: 480px;
	height: 400px;
	border: 6px solid #0063be;
	margin: 0 auto;
	overflow: hidden;
	background-color: #fcfcfc;
}

